/* #FAF9F5 or the 60% is used for background color while 
#F2EFEA or the 30% is used for their cards
 #3E3E41 or the rest 10% is used for the buttons. */
.chat-room {
    background-color: #f2efea;
    margin-bottom: 5rem;
}

.chat-room ul {
    display: flex;
    flex-direction: column;
    background-color: red;

    align-items: flex-start;
    justify-content: flex-start;
    list-style-type: none;
}
.teste {
    align-self: flex-end;
    flex-direction: row-reverse;
}
.r{
    background-color: tomato;
}
.chat-message {
    background-color: orange;
    display: flex;
    width: 100%;
}

.chat-message img {
    border-radius: 50%;
    width: 50px;
    max-width: 50px;
}

.text-content {
    min-width: 200px;
    background-color: white;
    border: #c6c6d2 solid 1px;
    font-size: medium;
    border-radius: 8px;
    overflow: hidden;
    white-space: normal;
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;
}
