.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.message-box{
  display: flex;
  margin:1px;
}

.message-content{
  text-align: left;
  min-width:10rem;
  width: 85%; 
  height: auto;
  border: black solid 1px;
  overflow: hidden; 
  white-space: normal; 
  text-align: justify;
  box-sizing: border-box;
  word-wrap: break-word; 
}

.profile {
  display: flex; 
  align-items: center;
  justify-content: start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
