.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.chat-message{
  display: flex;
  margin:2px;
}

.message-content{
  max-width: 50%;
  min-width: 250px; 
  border: black solid 1px;
  border-radius: 8px;
  padding: 8px 2px 2px 2px;
  overflow: hidden; 
  white-space: normal; 
  text-align: justify;
  word-wrap: break-word; 
}

.chat-room{
  ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    list-style-type: none;
  }
}

.profile {
  display: flex; 
  align-items: center;
  justify-content: start;
  button {
    width: 2rem;
  }
}

.input-text{
  display: block;
  bottom: 0;
  right: 0;
  
  input{
    border: gray solid thin;
    width: 85vw;
    border-radius: 4px;
    padding: 2px
  }
  button{
    color: white;
    background-color: slateblue;
    outline: none;
    border-radius: 5px;
  }

}

